<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>EventosTI.dev - O seu portal de eventos de tecnologia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap 5 Tech Conference Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
          rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


</head>

<body>

<div id="hero-block" class="hero-block">
    <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-1 carousel-item active">
            </div>
        </div>
    </div>
    <div class="hero-block-mask"></div>
    <div class="container">
        <div class="hero-text-block">
            <h1 class="hero-heading mb-2">eventosti.dev</h1>
            <div class="hero-intro mb-4">Descubra eventos de TI <br> Online ou Perto de Você.</div>
            <div class="hero-cta"><a class="btn btn-primary btn-lg"
                                     href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/"
                                     target="_blank">Encontrar Eventos</a></div>

        </div><!--//hero-text-block-->
    </div><!--//container-->

</div><!--//hero-block-->

<div class="stats-block theme-bg-primary text-white py-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">2000+</div>
                    <div class="unit">Attendees</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">3</div>
                    <div class="unit">Days</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">60+</div>
                    <div class="unit">Talks</div>
                </div><!--//item-->
            </div><!--//col-->
            <div class="col-6 col-md-3">
                <div class="item">
                    <div class="number">10+</div>
                    <div class="unit">Workshops</div>
                </div><!--//item-->
            </div><!--//col-->
        </div>
    </div><!--//container-->
</div><!--//stats-block-->

<section id="about-section" class="about-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Sobre eventosti.dev</h3>
        <div class="section-intro single-col-max mx-auto mb-4">O site eventosti.dev serve como um agregador de eventos
            de tecnologia pelo Brasil. Aqui
            você vai encontrar eventos online ou presenciais de todos os tipos de tecnologia. <strong>Caso você queira
                adicionar ou reportar algum evento, <a href="">clique aqui.</a></strong>
            Abaixo você pode verificar os próximos eventos que irão ocorrer e as suas respectivas tecnologias.
        </div>
        <div class="benefits-list text-center mb-3">
            <h4 class="text-center mb-4">Por que cadastrar seu evento?</h4>
            <ul class="list-unstyled text-start d-inline-block">
                <li><i class="fas fa-check-circle me-2"></i>Maior exposição para pessoas de tecnologia</li>
                <li><i class="fas fa-check-circle me-2"></i>Divulgação sem custo</li>
                <li><i class="fas fa-check-circle me-2"></i>Praticidade no cadastro de novos eventos</li>
                <li><i class="fas fa-check-circle me-2"></i>Aumentar o networking do seu evento</li>
                <li><i class="fas fa-check-circle me-2"></i>Ajude a comunidade a conhecer novos eventos</li>
            </ul>
        </div><!--//benefits-list-->
        <div class="event-countdown text-center mb-3">
            <h4 class="countdown-intro mb-2 text-center mb-3">Próximo evento em:</h4>
            <div id="countdown-box" class="countdown-box"></div>
        </div><!--//event-countdown-->
        <div class="about-cta text-center mb-5"><a class="btn btn-secondary btn-lg  mb-5"
                                                   href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/"
                                                   target="_blank">Get Your Ticket Today</a></div>
    </div><!--//container-->

    <div class="media-block theme-bg-primary py-5">
        <div class="container">
            <h4 class="text-white text-center mb-3">Eventos anteriores</h4>
            <div class="section-intro text-center single-col-max mx-auto text-white mb-5">Assista vídeos de eventos que
                já ocorreram e conheça um pouco do universo de eventos de tecnologia!
            </div>
            <div class="row gx-5">
                <div class="col-12 col-md-6 mb-3">
                    <div class="ratio ratio-16x9">

                        <iframe src="https://www.youtube.com/embed/SJPZxvEYXxI"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
                <div class="col-12 col-md-6 mb-md-5">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/9OMI-3Z0JlA"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!--//embed-responsive -->
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//media-block-->
</section><!--//about-section-->

<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Próximos Eventos</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Lista com os próximos eventos cadastrados na
            plataforma.
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img
                            src="assets/images/events/feministech1.png" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Feministalks</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Online</div>
                            <div class="meta">Twitch</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Saiba Mais
                            &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="card rounded-0">
                    <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1"><img
                            src="assets/images/events/azure.png" class="card-img-top rounded-0" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title mb-2">Imersão Azure</h5>
                        <div class="card-text mb-3">
                            <div class="meta">Online</div>
                            <div class="meta">Edduzz</div>
                        </div><!--//card-text-->
                        <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Saiba Mais
                            &rarr;</a>
                    </div><!--//card-->
                    <div class="card-footer text-muted">
                        <ul class="social-list list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </div><!--//card-->
            </div><!--//col-->

            <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg"
                                                          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/"
                                                          target="_blank">Get Tickets</a></div>
        </div><!--//container-->

    </div>

</section><!--//speakers-section-->

<div class="container">
    <hr>
</div>

<section id="sponsors-section" class="sponsors-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Sponsors &amp; Partners</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.
        </div>
        <div class="row logos justify-content-center">
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-1.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-2.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-3.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-4.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-5.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-6.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-7.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-8.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-9.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-10.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-11.svg" alt=""></div>
            <div class="logo-item col-6 col-md-4 col-lg-2"><img src="assets/images/logos/logo-12.svg" alt=""></div>
        </div><!--//row-->
        <div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div>
    </div><!--//container-->
</section><!--//sponsors-section-->

<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">

        <ul class="social-list list-inline mb-4">
            <li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            <li class="list-inline-item me-0"><a href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
        </ul><!--//social-list-->


        <ul class="footer-links list-inline mx-auto mb-4">
            <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item me-0"><a href="#">Privacy</a></li>
        </ul><!--//footer-link-->

        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a
                href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

    </div><!--//container-->
</footer>

<!-- Modal Speaker -->
<div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog"
     aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="speaker-1-ModalLabel" class="modal-title sr-only"
                >Speaker Name</h4>
            </div>
            <div class="modal-body p-0">
                <div class="theme-bg-light p-5">
                    <div class="row">
                        <div class="col-12 col-md-auto text-center">
                            <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto"
                                 src="assets/images/speakers/speaker-1.jpg" alt=""/>
                        </div>

                        <div class="col text-center text-md-start mx-auto">
                            <h2 class="name mb-2">Speaker Name</h2>
                            <div class="meta">Job Title Or Position</div>
                            <div class="meta mb-2">Company Or Organization</div>
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul><!--//social-list-->
                        </div><!--//col-->
                    </div><!--//row-->
                </div>
                <div class="desc p-4 p-lg-5">
                    <p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend.
                        Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis
                        mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In
                        interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada.
                        Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu
                        feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo
                        purus et lectus. </p>
                    <p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat
                        nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et.
                        Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
                </div>
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

<!-- Javascript -->
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/smoothscroll.min.js"></script>
<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>

