<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>EventosTI.dev - O seu portal de eventos de tecnologia</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eventosti.dev seus eventos de TI em um só lugar">
    <meta name="author" content="Pokemaobr">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
          rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"
            integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFY66MNQ41"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CFY66MNQ41');
    </script>

</head>

<body>
<header id="header" class="header fixed-top bg-dark">
    <div class="branding">
        <div class="container-fluid">
            <nav class="main-nav navbar navbar-expand-lg">
                <div class="site-logo"><a href="{{ path('index') }}"><img class="logo-icon"
                                                                                   src="assets/images/eventosti2.png"
                                                                                   alt="logo"></a></div>

                <div class="navbar-btn order-lg-2"><a class="btn btn-secondary"
                                                      href="{{ path('index') }}"
                    >Voltar!</a></div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
                      </div><!--//navabr-collapse-->

            </nav><!--//main-nav-->

        </div><!--//container-->
    </div><!--//branding-->
</header><!--//header-->

<div id="hero-area" class="hero-area section">
    <div class="container">
        <form action="{{ path('cadastro-call4papers') }}" id="form-validation" method="POST">
            {% if (app.request.query.get("status") is defined and app.request.query.get("status") == 1) %}
                <p class="alert alert-success"> CALL 4 PAPERS cadastrado com SUCESSO! Aguarde a administração aprovar para aparecer no site! </p>
            {% elseif (app.request.query.get("status") is defined and app.request.query.get("status") == 2) %}
                <p class="alert alert-danger"> Erro ao cadastrar CALL 4 PAPERS! </p>
            {% endif %}
            <h2>Preencha os dados abaixo para cadastrar um novo Call 4 Papers!</h2>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="nick">Nome:* </label>
                <input type="text" name="nome" class="form-control form-control-lg" id="nome"
                       placeholder="Nome do evento" required="required"
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <select class="form-control form-control-lg form-select" name="tipo" id="tipo"
                        aria-label="Tipo de Evento" required>
                    <option selected>Escolha o tipo de evento</option>
                    <option value="0">online</option>
                    <option value="1">presencial</option>
                    <option value="2">híbrido</option>
                </select>
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="nick">Local (presencial) ou Plataforma (online):* </label>
                <input type="text" name="local" class="form-control form-control-lg" id="local"
                       placeholder="Local ou Plataforma onde será realizado o evento" required
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="imagem">Imagem do Evento: (300px x 300px)* </label>
                <input type="file" name="upload_image" id="upload_image" required />
                <br />
                <div id="uploaded_image"></div>
                <input type="hidden" name="imagem" id="imagem" value="" required >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="descrição">Descrição do Evento:* </label>
                <textarea class="form-control" rows="5" name="descricao" id="descricao"></textarea>

            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="datainicio">Data de Encerramento do Call 4 Papers:* </label>
                <input type="datetime-local" name="dataEncerramento" class="form-control form-control-lg"
                       id="dataEncerramento"
                       placeholder="Data do Encerramento do Call 4 Papers" required>
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="datainicio">Previsão de Data de Início do Evento:* </label>
                <input type="datetime-local" name="dataInicio" class="form-control form-control-lg"
                       id="datainicio"
                       placeholder="Previsão de Data de Início do Evento" required>
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="datafim">Previsão de Data de Término do Evento:* </label>
                <input type="datetime-local" name="dataFim" class="form-control form-control-lg"
                       id="datafim"
                       placeholder="Previsão de Data de Término do Evento" required>
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="link">Link do Call 4 Papers:* </label>
                <input type="url" name="link" class="form-control form-control-lg" id="link"
                       placeholder="Link do Call 4 Papers" required
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="evento">Link para o Evento (se houver): </label>
                <input type="url" name="evento" class="form-control form-control-lg" id="evento"
                       placeholder="Link para o evento"
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="twitter">Twitter: </label>
                <input type="url" name="twitter" class="form-control form-control-lg" id="twitter"
                       placeholder="Twitter do evento"
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="link">Instagram: </label>
                <input type="url" name="instagram" class="form-control form-control-lg" id="instagram"
                       placeholder="Instagram do evento"
                >
            </div>
            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <label style="font-size: 20px;" for="link">Outro Link: </label>
                <input type="url" name="outro" class="form-control form-control-lg" id="outro"
                       placeholder="Outro link importante"
                >
            </div>

            <!--<div class="mb-3 col-xl-6 col-lg-6 col-md-6">
            <label style="font-size: 20px;" for="imagem">Imagem:* </label>
                <div id="upload-input" style="width:400px; height: 400px;"></div>

                    <strong>Select Image:</strong>
                    <br/>
                    <input type="file" id="upload" accept="image/*">
                    <br/>
                    <button class="btn btn-success upload-result">Upload Image</button>

            </div> -->

            <div class="mb-3 col-xl-6 col-lg-6 col-md-6">
                <button class="btn btn-primary" name="submit" class="form-control form-control-lg"
                        id="submit"
                        placeholder="Enviar Formulário" style="width: 100%;">Enviar
                </button>
            </div>
        </form>
    </div>

</div><!--//hero-block-->

<div id="uploadimageModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload & Cortar Imagem</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <div id="image_demo" style="width:350px; margin-top:30px"></div>
                    </div>
                    <div class="col-md-4" style="padding-top:30px;">
                        <br />
                        <br />
                        <br/>
                        <button class="btn btn-success crop_image">Upload & Cortar Imagem</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer py-5 theme-bg-primary">
    <div class="container text-center">

        <ul class="social-list list-inline mb-4">
            <li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
            <li class="list-inline-item me-3"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            <li class="list-inline-item me-0"><a href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
        </ul><!--//social-list-->


        <ul class="footer-links list-inline mx-auto mb-4">
            <li class="list-inline-item"><a href="#">Code of Conduct</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item me-0"><a href="#">Privacy</a></li>
        </ul><!--//footer-link-->

        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

    </div><!--//container-->
</footer>


<!-- Javascript -->
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/smoothscroll.min.js"></script>
<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
<script src="assets/js/main.js"></script>

<!--<script>
    $uploadCrop = $('#upload-input').croppie({
        enableExif: true,
        viewport: {
            width: 200,
            height: 200,
            type: 'square'
        },
        boundary: {
            width: 300,
            height: 300
        }
    });

    $('#upload').on('change', function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            $uploadCrop.croppie('bind', {
                url: e.target.result
            }).then(function () {
                console.log('jQuery bind complete');
            });

        }
        reader.readAsDataURL(this.files[0]);
    });
</script> -->
<script>
    $(document).ready(function(){

        $image_crop = $('#image_demo').croppie({
            enableExif: true,
            viewport: {
                width:300,
                height:300,
                type:'square' //circle
            },
            boundary:{
                width:300,
                height:300
            }
        });

        $('#upload_image').on('change', function(){
            var reader = new FileReader();
            reader.onload = function (event) {
                $image_crop.croppie('bind', {
                    url: event.target.result
                }).then(function(){
                    console.log('jQuery bind complete');
                });
            }
            reader.readAsDataURL(this.files[0]);
            $('#uploadimageModal').modal('show');
        });

        $('.crop_image').click(function(event){
            $image_crop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function(response){
                $.ajax({
                    url:"upload",
                    type: "POST",
                    data:{"image": response},
                    success:function(data)
                    {
                        $('#uploadimageModal').modal('hide');
                        $('#uploaded_image').html('<img src="assets/images/events/'+ data +'" class="img-thumbnail" />');
                        $('#imagem').val(data);
                    }
                });
            })
        });

    });
</script>

</body>
</html>

